---
title: About
slug: about
is_layout: false
allow_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 1
editable_elements:
  main/featured_photo/caption: Gyeongbokgung, Seoul
  main/about_body: ! "<p>\n\t      Thanks for visiting Wisdom for Wanders!\n\t      This
    blog aims to introduce readers to cool things to see, eat, and do all over the
    world. And along the way, I'll share some handy travel tips that can make wandering
    the globe easier and more fun than ever.\n\t      The blog tends to focus on sights
    and places a little off the tourist trail, so unadventurous beware.\n\t    </p>\n\t
    \   <p>\n\t      I hope you enjoy the site and bon voyage!\n\t    </p>"
  main/featured_photo/photo: /samples/pages/gyeongbokgung-full.jpg
---
{% extends parent %}


{% block main %}
	{% block 'featured_photo' %}
	  {% capture caption %}
	    {% editable_text "caption", format: "raw", rows: 3, hint: "Text displayed below the photo and in the ALT attribute." %}
	      Gyeongbokgung, Seoul
	    {% endeditable_text %}
	  {% endcapture %}
	  {% capture photo %}{% editable_file "photo" %}/sites/568c4f0f2ae856b500000002/assets/568c53292ae856599e000007/gyeongbokgung-full.jpg{% endeditable_file %}{% endcapture %}

	{% include 'img_box' with caption, photo, size: "400x" %}

	{% endblock %}

	{% editable_text "about_body", rows: 20 %}
	    <p>
	      Thanks for visiting Wisdom for Wanders!
	      This blog aims to introduce readers to cool things to see, eat, and do all over the world. And along the way, I'll share some handy travel tips that can make wandering the globe easier and more fun than ever.
	      The blog tends to focus on sights and places a little off the tourist trail, so unadventurous beware.
	    </p>
	    <p>
	      I hope you enjoy the site and bon voyage!
	    </p>
	{% endeditable_text %}

{% endblock %}
